#container{
    border: 2px solid black;
    width:70%;
    height:50px;
}

#input{
    padding: 5px;
    width: 95%;
    max-height: 600px;
    height: 200 px;
}

#edit{
    float: right;
    text-align: right;
    text-justify: auto;
    padding: 4px;
    margin-right: 4px;
    color: blue;
}
#header{
    width:100%;
}
#container div{
    padding: 2%;
}
#inputBtns{
    float:right;
    padding: 5px;
}
#inputBtns td{
    padding-right:3px;
}