<div *ngIf='test'>
    <menu-item key='name' value='bharat' string='{{true}}'></menu-item>
    <menu-item key='c' value='v' string='true'></menu-item>
    <menu-item key='ten' value='basawa' string='false'></menu-item>
    
    <br/><br/><br/><br/>
    
    <filter-view type='tags'></filter-view>
    <filter-view type='topics'></filter-view>
    
    <br/><br/><br/><br/>
    <table>
        <td>
            <simple-dropdown title='VIEW' type='view'></simple-dropdown>
        </td>
        <td>
            <simple-dropdown title='ORDER BY' type='orderby'></simple-dropdown>
    
        </td>    
    </table>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
